:root{
    --raleway:'Raleway';
    --poppins:'Poppins';
    --inter:'Inter';
    --dm-sans:'DM Sans';
    --luckiest-guy:'Luckiest Guy';
    --sniglet:'Sniglet';
    --titan-one:'Titan One';
}
.navbar-list-link ul li:hover::after
{-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;transition:all .5s;}
*,::after,::before{padding:0;margin:0;outline:none;box-sizing:border-box;}
div,p,a{color:#333333;}
html{--font-weight-800:800;--font-weight-700:700;--font-weight-500:500;--font-weight-400:400;--font-weight-600:600;--color-blackish:#333333;
--color-green:green;--color-white:#fff;--font-size-20:20px;--font-size-19:19px;--font-size-18:18px;--font-size-16:16px;--margin-auto:auto;--background-blackish:#333333;
--width-90:90%;--width-95:95%;--width-50:50%;--width-100:100%}
body{scroll-behavior:smooth;position:relative;}
body{width:100%;font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;}
html{scroll-behavior:smooth;width:100%;}
a{text-decoration:none;color:#333333;}
button,input,select,option{box-sizing:border-box;}
.navbar-header-container{width:100%;}
.navbar-header-container nav{width:90%;margin:0 auto;}
nav .navbar-home{display:flex;align-items:center;justify-content:space-between;}
nav .navbar-home{padding:25px 0;border-bottom:1px solid rgba(51, 51, 51, 0.5);}
.home-logo-link a{font-family:var(--titan-one);font-size:30px;}
.home-logo-link button{display:none;}
.navbar-list-link ul{display:flex;align-items:center;}
.navbar-list-link ul li{list-style:none;font-family:var(--dm-sans);font-weight:var(--font-weight-700);
margin:0 30px;position:relative;}
.navbar-list-link ul li:last-child{margin-right:0;}
.navbar-list-link ul li:first-child{margin-left:0;}
.navbar-list-link ul li::after{content:"";position:absolute;height:2px;width:0;background-color:var(--background-blackish);
display:block;transition:all .5s;}
.navbar-list-link ul li a{font-size:var(--font-size-16);}
.navbar-list-link ul li:hover::after{width:100%;}
.main-header{margin-top:80px;}
.main-header-container{display:flex;width:var(--width-95);margin:0 0 0 var(--margin-auto);}
.header-quotes,.header-images{width:var(--width-50);}
.big-heading-quote p{font-family:var(--luckiest-guy);font-size:60px;}
.big-heading-quote{margin-bottom:20px;}
.header-images{height:inherit;background-color:transparent;display:flex;align-items:end;}
.small-heading-quote{width:var(--width-100);height:250px;background-color:var(--color-green);border-top-left-radius:50px;}
.small-heading-quote{display:flex;justify-content:center;flex-direction:column;}
.home-header-images{height:350px;background-color:var(--color-blackish);width:var(--width-100);border-top-left-radius:100px;
text-align:center;position:relative;}
.home-header-images img{width:65%;position:absolute;left:50%;top:20%;transform:translate(-50%,-50%);}
.images-img{position:relative;height:inherit;}
.small-heading-quote .small-quote{padding:0px 35px 30px 50px;}
.small-quote p{font-family:var(--sniglet);font-size:var(--font-size-19);color:var(--color-white);}
.explore-now-btn button{display:flex;align-items:center;padding:15px 50px;border:1px solid var(--color-white);border-radius:50px;color:var(--color-green);transition:all .5s;}
.explore-now-btn{margin:15px 0px 0 50px;}
.explore-now-btn button a{font-family:var(--poppins);font-weight:var(--font-weight-600);font-size:var(--font-size-18);color:var(--color-green);}
.explore-now-btn button i{font-size:19px;}
.explore-now-btn button i{position:relative;transition:all .5s;margin-left:10px;}
header{margin-bottom:50px;}
main{margin-top:20px;}
.our-products{width:var(--width-95);margin:0 var(--margin-auto);}
.product-header{text-align:center;}
.product-header p{font-weight:var(--font-weight-700);font-size:25px;}
.products-type{display:flex;padding-bottom:40px;border-bottom:1px solid rgba(51, 51, 51, 0.5);}
.snacks-product-container,.beverages-product-container{width:var(--width-50);}
.snacks-product,.beverages-product{width:80%;margin:0 var(--margin-auto);text-align:center;display:flex;align-items:center;justify-content:space-evenly;}
.snacks-image,.beverages-image{width:250px;height:250px;border-radius:50%;display:flex;justify-content:center;align-items:center;}
.snacks-image,.beverages-image{box-shadow:0px 4px 11px rgba(0, 0, 0, 0.25);background-color:rgba(255, 255, 255, 0.2);}
.snacks-image img,.beverages-image img{width:90%;border-radius:50%;height:90%;}
.snacks-note,.beverages-note{text-align:initial;}
.snacks-note p,.beverages-note p{font-family:var(--sniglet);font-weight:var(--font-weight-800);font-size:var(--font-size-20);color:var(--color-green);margin-bottom:9px;}
.snacks-note ul,.beverages-note ul{display:flex;flex-direction:column;}
.snacks-note ul li,.beverages-note ul li{margin:4px 0;font-family:var(--sniglet);font-weight:var(--font-weight-400);list-style:none;}
.snacks-note ul li,.beverages-note ul li{display:flex;align-items:center;}
.snacks-note ul li i,.beverages-note ul li i{font-size:5px;}
.available-products-container{margin-top:50px;}
.available-product{width:var(--width-100);}
.check-product-head{text-align:center;}
.check-product-head p{font-weight:var(--font-weight-700);font-size:25px;}
.check-product-container{width:var(--width-100);background-color:var(--color-blackish);margin-top:30px;padding-bottom:70px;}
.check-products{width:95%;margin:0 var(--margin-auto);padding-top:20px;}
.check-product-container .check-products .products{width:25%;height:280px;background-color:transparent;margin:0px 0px 15px;float:left;padding:0 8px;}
.check-product-container .check-products .products{display:flex;justify-content:end;flex-direction:column;}
.available-product-image{width:100%;height:190px;border-radius:20px;background-color:var(--color-white);}
.available-product-image{display:flex;}
.available-product-image .images img{width:240px;height:270px;position:absolute;top:25%;left:50%;transform:translate(-50%,-50%);}
.available-product-image .images{width:40%;position:relative;padding-left:5px;}
.images-details{width:60%;display:flex;justify-content:center;flex-direction:column;padding-left:10px;}
.product-name p{font-weight:var(--font-weight-600);font-size:var(--font-size-18);}
.product-price{margin:7px 0;}
.product-price p{font-weight:var(--font-weight-700);font-size:var(--font-size-18);color:var(--color-green);}
.product-buy-now-btn button{padding:8px 15px;font-size:var(--font-size-18);font-weight:var(--font-weight-700);color:var(--color-white);font-family:var(--poppins);}
.product-buy-now-btn button{background-color:var(--color-green);border-radius:50px;text-align:center;border:1px solid var(--color-green);}
.click-more-product-btn{width:100%;text-align:center;clear:both;}
.click-more-product-btn button{text-align:center;padding:13px 25px;font-family:var(--poppins);font-size:var(--font-size-18);border-radius:10px;cursor:pointer;margin-top:60px;}
.click-more-product-btn button{color:var(--color-white);font-weight:var(--font-weight-600);border:1px solid var(--color-green);background-color:var(--color-green);}
.about-us-container{margin-top:50px;}
.about-us-details{width:100%;background-color:var(--color-green);padding:45px 0;}
.about-us-flex{width:95%;margin:0 var(--margin-auto);color:var(--color-white);display:flex;}
.about-us-header{width:25%;}
.about-us-header p{font-weight:var(--font-weight-600);font-size:30px;}
.line-about-us{width:1px;height:inherit;background-color:var(--color-white);margin:0 80px 0 40px;}
.about-us p,.about-us-header p{color:var(--color-white);font-weight:var(--font-weight-500);}
.about-us p{padding:30px 0;}
.about-us p:first-child{padding-top:0;}
.about-us p:last-child{padding-bottom:0;}
.customer-review{width:100%;background-color:var(--background-blackish);padding:25px 0 50px;}
.customer-flex{width:95%;margin:0 var(--margin-auto);padding-top:10px;}
.customer-review-header{text-align:center;margin-bottom:40px;}
.customer-review-header p{color:var(--color-white);font-weight:var(--font-weight-700);font-size:25px;}
.customer-quotes-header{display:flex;padding:10px 0;overflow-x:scroll;padding-bottom:20px;}
.customer-quotes-header::-webkit-scrollbar{height:7px;}
.customer-quotes-header::-webkit-scrollbar-thumb{background:var(--color-green);border-radius:5px;}
.customer-quotes-header::-webkit-scrollbar-track{background:var(--color-white);border-radius:5px;}
.customer-quotes-header::-webkit-scrollbar-thumb:hover{background-color:rgba(0, 128, 0,.9);transition:all .5s}
.customer-quotes-header .customer-quotes{min-width:250px;;width:250px;height:350px;background-color:var(--color-white);}
.customer-quotes-header .customer-quotes{margin:0 10px;border-radius:10px;padding:10px;}
.customer-quotes-header .customer-quotes{display:flex;justify-content:space-between;flex-direction:column;}
.customer-quotes-header .customer-quotes:first-child{margin-left:0;}
.customer-quotes-header .customer-quotes:last-child{margin-right:0;}
.quote-icon{text-align:end;}
.quote-icon i{font-size:50px;color:rgba(0, 128, 0, 0.7);}
.quote-note{margin-top:5px;}
.quote-note p{color:var(--color-blackish);font-size:15px;}
.quote-profile-image{min-width:110px;width:110px;height:110px;background-color:transparent;border-radius:50%;}
.quote-profile-image img{width:100%;height:100%;border-radius:50%;}
.quote-profile-name{padding-bottom:20px;}
.quote-profile-name p{color:var(--color-green);font-weight:var(--font-weight-700);font-size:var(--font-size-18);}
.contact-us-header{width:100%;padding:40px 0;background-color:var(--color-green);}
.contact-us{width:95%;margin:0 var(--margin-auto);display:flex;}
.contact-us p,.contact-us span,.contact-us span a{color:var(--color-white);}
.contact-note p{font-weight:var(--font-weight-600);font-size:30px;}
.line-contact-us{height:inherit;width:1px;background-color:var(--color-white);margin:0 40px;}
.contact-us-details{display:flex;}
.contact-address p,.contact-customer-care p,.contact-email p,.contact-social-media p{color:var(--color-white);}
.contact-address p,.contact-customer-care p,.contact-email p,.contact-social-media p{font-weight:var(--font-weight-600);font-size:var(--font-size-18);}
.contact-address span,.contact-customer-care span{font-weight:var(--font-weight-500);font-size:var(--font-size-16);}
.contact-address span,.contact-customer-care span,.contact-email span,.contact-social-media span{color:var(--color-white);}
.contact-customer-care,.contact-social-media{margin-top:60px;}
.email-social-media{margin-left:50px;}
.social-media-list{margin-top:5px;}
.social-media-list ul{display:flex;align-items:center;}
.social-media-list ul li{list-style:none;margin:0 10px;cursor:pointer;}
.social-media-list ul li:first-child{margin-left:0;}
.social-media-list ul li:last-child{margin-right:0;}
.social-media-list ul li i{font-size:23px;color:var(--color-white);}