.check-product-container .check-products .products:hover{position:relative;animation-name:hover-product;animation-duration:.2s;animation-fill-mode:forwards;}
@keyframes hover-product{from{top:0px}to{top:-5px}}
.explore-now-btn button:hover i{position:relative;animation-name:hover-explore-btn;animation-duration:.2s;animation-fill-mode:forwards;}
@keyframes hover-explore-btn{from{left:0;}to{left:5px}}
/*chrome*/
.explore-now-btn button:hover i,.check-product-container .check-products .products:hover
{-webkit-animation-duration:.2s;-webkit-animation-fill-mode:forwards;animation-duration:.2s;animation-fill-mode:forwards;}
/*opera*/
.explore-now-btn button:hover i,.check-product-container .check-products .products:hover
{-o-animation-duration:.2s;-o-animation-fill-mode:forwards;animation-duration:.2s;animation-fill-mode:forwards;}
/*mozilla*/
.explore-now-btn button:hover i,.check-product-container .check-products .products:hover
{-moz-animation-duration:.2s;-moz-animation-fill-mode:forwards;animation-duration:.2s;animation-fill-mode:forwards;}
/*microsoft*/
.explore-now-btn button:hover i,.check-product-container .check-products .products:hover
{-ms-animation-duration:.2s;-ms-animation-fill-mode:forwards;animation-duration:.2s;animation-fill-mode:forwards;}
/*  */
.header-quotes.displayQuoteOnLoad{position:relative;animation-name:displayQuoteOnLoad;animation-duration:2s;animation-fill-mode:forwards;animation-delay:.5s;}
@keyframes displayQuoteOnLoad{0%{right:999px}100%{right:0px}}
.header-images.displayImageOnLoad{position:relative;animation-name:displayImageOnLoad;animation-duration:2s;animation-fill-mode:forwards;animation-delay:.5s;}
@keyframes displayImageOnLoad{0%{left:999px}100%{left:0px}}
.header-quotes.displayQuoteOnLoad,.header-images.displayImageOnLoad
{-webkit-animation-duration:2s;-webkit-animation-fill-mode:forwards;-webkit-animation-delay:.5s;animation-delay:.5s;animation-duration:2s;animation-fill-mode:forwards;}
/*opera*/
.header-quotes.displayQuoteOnLoad,.header-images.displayImageOnLoad
{-o-animation-duration:2s;-o-animation-fill-mode:forwards;-o-animation-delay:.5s;animation-delay:.5s;animation-duration:2s;animation-fill-mode:forwards;}
/*mozilla*/
.header-quotes.displayQuoteOnLoad,.header-images.displayImageOnLoad
{-moz-animation-duration:2s;-moz-animation-fill-mode:forwards;-moz-animation-delay:.5s;animation-delay:.5s;animation-duration:2s;animation-fill-mode:forwards;}
/*microsoft*/
.header-quotes.displayQuoteOnLoad,.header-images.displayImageOnLoad
{-ms-animation-duration:2s;-ms-animation-fill-mode:forwards;-ms-animation-delay:.5s;animation-delay:.5s;animation-duration:2s;animation-fill-mode:forwards;}
/* chrome */
.home-header-images img,.fixed-relative-whatsapp i
{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
/* mozilla */
.home-header-images img,.fixed-relative-whatsapp i
{-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
/* opera */
.home-header-images img,.fixed-relative-whatsapp i
{-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
/* microsoft */
.home-header-images img,.fixed-relative-whatsapp i
{-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}