html{--font-weight-700:700;--font-weight-500:500;--font-weight-400:400;--font-weight-600:600;--color-blackish:#333333;
    --color-green:green;--color-white:#fff;--font-size-20:20px;--font-size-19:19px;--font-size-18:18px;--font-size-16:16px;--margin-auto:auto;--background-blackish:#333333;
    --width-90:90%;--width-95:95%;--width-50:50%;--width-100:100%}
@media screen and (max-width:768px){
    body.fixed{position:fixed;}
    nav .navbar-home{flex-direction:column;align-items:normal;border-bottom:none;padding:0;}
    .navbar-header-container nav{width:var(--width-100);background-color:var(--color-blackish);}
    .navbar-list-link ul{flex-direction:column;height:inherit;background-color:var(--background-blackish);width:var(--width-50);
    float:right;}
    .home-logo-link button{display:block;border:none;background-color:transparent;}
    .home-logo-link button i{font-size:35px;}
    .home-logo-link{display:flex;align-items:center;justify-content:space-between;}
    .navbar-list-link ul li{margin:15px 0;line-height:normal;}
    .home-logo-link{padding:30px 10px;}
    .navbar-header-container,.navbar-header-container nav,nav .navbar-home,.home-logo-link{position:relative;}
    .navbar-list-link{position:fixed;width:100%;top:100px;height:100vh;background-color:rgba(128, 128, 128,.3);z-index:999;}
    .navbar-list-link ul li a{color:var(--color-white);}
    .navbar-list-link ul{align-items:normal;padding:20px 0 0 20px;}
    .home-logo-link a{color:var(--color-white);font-size:37px;}
    .home-logo-link button i{color:var(--color-white);}
    .navbar-list-link{transition:all .5s ease-out;left:-999px;}
    .navbar-list-link.showNavbar{transition:all .5s ease-in;left:0px;}
    .main-header{margin-top:150px;}
    .main-header-container{flex-direction:column-reverse;width:var(--width-100);}
    .header-quotes, .header-images{width:var(--width-100);}
    .header-images{width:var(--width-90);margin-left:var(--margin-auto);}
    .home-header-images{height:250px;}
    .big-heading-quote{text-align:center;margin-top:30px;padding:0 5px;}
    .big-heading-quote p{font-size:50px;}
    .small-heading-quote{width:var(--width-90);margin-right:var(--margin-auto);border-top-right-radius:50px;border-top-left-radius:0;}
    .small-heading-quote .small-quote{padding:0 15px 15px 15px;}
    .explore-now-btn{margin-left:15px;}
    .check-product-container .check-products .products{width:50%;margin:0 0 15px 0px;}
    .available-product-image{height:175px;}
    .products-type{flex-direction:column;margin-top:50px;}
    .snacks-product-container, .beverages-product-container{width:var(--width-100);margin-bottom:40px;}
    .beverages-product-container{margin-bottom:0;}
    .about-us-flex{flex-direction:column;}
    .line-about-us{width:100%;height:1px;margin:20px 0;}
    .about-us-header{width:100%;}
    .about-us p{padding:20px 0;}
    .about-us-details{padding-top:30px;}
    .contact-us{flex-direction:column;}
    .line-contact-us{width:100%;height:1px;margin:20px 0;}
}
@media screen and (max-width:500px){
    .check-product-container .check-products .products{margin:0 0 15px 0px;width:50%;height:220px;}
    .available-product-image .images img{width:140px;height:170px;}
    .available-product-image{height:120px;}
    .images-details{padding-left:0;}
    .product-buy-now-btn button{padding:6px 12px;}
    .product-buy-now-btn button,.product-name p,.product-price p{font-size:var(--font-size-16);}
    .product-price{margin:3px 0;}
    .check-products{padding-top:0;}
    .check-product-head{padding:0 10px;}
    .snacks-product, .beverages-product{justify-content:space-around;width:var(--width-100);}
    .snacks-image, .beverages-image{width:210px;height:210px;}
    .check-product-container .check-products .products{padding:0 3px;}
    .check-product-container .check-products .products:nth-child(odd){padding-left:0;}
    .check-product-container .check-products .products:nth-child(even){padding-right:0;}
    .click-more-product-btn button{font-size:var(--font-size-16);}
    .customer-quotes-header .customer-quotes{margin:0 5px;}
    .contact-us-details{flex-direction:column;}
    .email-social-media{margin-left:0;}
    .contact-customer-care, .contact-social-media{margin-top:20px;}
    .contact-email{margin-top:20px;}
    .contact-customer-care, .contact-social-media,.contact-email,.contact-address{text-align:center;}
    .social-media-list ul{justify-content:center;}
    .contact-note{text-align:center;}
    .contact-us-header{padding-top:20px;}
    .about-us-header{text-align:center;}
    .copyright-header{flex-direction:column;}
    .footer-copyright{padding:20px 0;}
    .bottom-fanciyelohai,.copyright-year{margin:3px 0;}
}
@media screen and (max-width:400px){
    .check-product-container .check-products .products{margin:0 0 15px 0px;width:50%;height:200px;}
    .available-product-image .images img{width:120px;height:150px;}
    .product-buy-now-btn button{padding:5px 10px;}
    .product-buy-now-btn button,.product-name p,.product-price p{font-size:14px;}
    .available-product-image{height:110px;}
    .product-price{margin:1px 0;}
    .snacks-image, .beverages-image{width:200px;height:200px;}
}
@media screen and (max-width:376px){
    .snacks-image, .beverages-image{width:180px;height:180px;}
}
@media screen and (min-width:501px) and (max-width:700px){
    .check-product-container .check-products .products{margin:0 0 10px 10px;width:47.5%;}
}
@media screen and (min-width:501px) and (max-width:600px){
    .available-product-image .images img{width:200px;height:230px;}
    .available-product-image{height:150px;}
}

@media screen and (min-width:769px) and (max-width:1260px){
    .check-product-container .check-products .products{width:33.333%;padding:0 7px;margin-left:0;margin-right:0;}
    .available-product-image .images img{width:220px;height:250px;}
    .available-product-image{height:180px;}
    .line-about-us{margin:0 40px 0 20px;}
}
@media screen and (min-width:1001px) and (max-width:1200px){
    .snacks-product, .beverages-product{width:var(--width-100);padding:0 15px 0 0;}
    .snacks-image, .beverages-image{width:215px;height:215px;}
}
@media screen and (min-width:901px) and (max-width:1000px){
    .available-product-image .images img{width:210px;height:240px;}
    .available-product-image{height:160px;}
    .snacks-product, .beverages-product{width:var(--width-100);justify-content:space-between;padding:0 20px;}
    .snacks-image, .beverages-image{width:230px;height:230px;}
    .about-us-header{width:50%;}
}
@media screen and (min-width:769px) and (max-width:900px){
    .available-product-image .images img{width:190px;height:220px;}
    .available-product-image{height:160px;}
    .snacks-product, .beverages-product{width:var(--width-100);justify-content:space-between;padding:0 15px 0 0;}
    .snacks-image, .beverages-image{width:210px;height:210px;}
    .line-about-us{margin:0 20px 0 10px;}
    .about-us-header{width:50%;}
}